Name: api
Addr: 0.0.0.0:8888
FileBasePath: ./test_data

MySql:
  DataSource: "用户名:密码.@tcp(地址)/数据库名字?charset=utf8mb4&parseTime=True&loc=Local"

Redis:
  Addr: "127.0.0.1:6379"
  Password: ""
  DB: 0

jwt:
  secret: 秘钥
  expire: 时间

Monitor:
  Type: "file"
  maxRecord: 最大记录数量
  File:
    Path: "./data"
    StudTime: 300